/*
Syntax error: Invalid CSS after "...  padding-left:": expected expression (e.g. 1px, bold), was "@layout-sidepan..."
        on line 235 of /Applications/XAMPP/xamppfiles/htdocs/top/public/default/resources/foundation/scss/admin/responsive.scss

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/top/public/default/resources/foundation/scss/admin/responsive.scss:235
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1148:in `expected'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/lexer.rb:199:in `expected!'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/parser.rb:472:in `assert_expr'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/script/parser.rb:49:in `parse'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1022:in `sass_script'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:882:in `value!'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:859:in `declaration'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:582:in `block in declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:554:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:535:in `block'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:349:in `media_directive'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:175:in `special_directive'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:147:in `directive'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:553:in `block_child'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/scss/parser.rb:27:in `parse'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:342:in `_to_tree'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:145:in `block in compile'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:144:in `compile'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `each'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `block in run'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/staff/.rvm/rubies/ruby-1.9.3-p327/lib/ruby/1.9.1/forwardable.rb:201:in `compile'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `run_callback'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:78:in `block (2 levels) in listen_callback'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `each'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `block in listen_callback'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `each'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/staff/.rvm/gems/ruby-1.9.3-p327/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...  padding-left:\": expected expression (e.g. 1px, bold), was \"@layout-sidepan...\"\A         on line 235 of /Applications/XAMPP/xamppfiles/htdocs/top/public/default/resources/foundation/scss/admin/responsive.scss"; }
