/* line 11, ../../bootstrap/scss/admin/stylesheet.scss */
.full-width-force {
  width: 100% !important;
}

/* line 17, ../../bootstrap/scss/admin/stylesheet.scss */
#modalForgotPassword .modal-dialog {
  max-width: 496px;
}

/* line 25, ../../bootstrap/scss/admin/stylesheet.scss */
.table tbody tr td {
  padding: 10px;
}

/* line 34, ../../bootstrap/scss/admin/stylesheet.scss */
.aTable td .fa {
  font-size: 20px;
}

/* line 40, ../../bootstrap/scss/admin/stylesheet.scss */
.form-group-default {
  overflow: visible;
}
/* line 44, ../../bootstrap/scss/admin/stylesheet.scss */
.form-group-default .cs-skin-slide .cs-backdrop {
  border: none;
}

/* line 51, ../../bootstrap/scss/admin/stylesheet.scss */
.dataTables_processing {
  z-index: 1000;
}

@media screen and (min-width: 980px) {
  /* line 57, ../../bootstrap/scss/admin/stylesheet.scss */
  .dataTables_wrapper .dataTables_paginate {
    float: right;
  }
}
/* line 63, ../../bootstrap/scss/admin/stylesheet.scss */
.formError .formErrorContent {
  width: 100%;
  background: #f55753;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 11px;
  border: 1px solid #f55753;
  padding: 4px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  text-shadow: none;
}

/* line 79, ../../bootstrap/scss/admin/stylesheet.scss */
.formError .formErrorArrow div {
  height: 1px;
  background: #f55753;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}

/* line 89, ../../bootstrap/scss/admin/stylesheet.scss */
#notification-center .bubble {
  font-size: 8px;
  text-align: center;
  line-height: 15px;
}

/* line 99, ../../bootstrap/scss/admin/stylesheet.scss */
.notification-panel .notification-body .notification-item .heading {
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print {
  /* line 109, ../../bootstrap/scss/admin/stylesheet.scss */
  .hide-for-print {
    display: none;
  }
}
/* line 115, ../../bootstrap/scss/admin/stylesheet.scss */
.historyDialog {
  width: 98%;
  max-width: 1280px;
}

/* line 122, ../../bootstrap/scss/admin/stylesheet.scss */
.invoice .paymentMethod {
  display: inline-block;
  width: 50%;
}
/* line 126, ../../bootstrap/scss/admin/stylesheet.scss */
.invoice .paymentValue {
  max-width: 45%;
  display: inline-block;
}

@media print {
  /* line 133, ../../bootstrap/scss/admin/stylesheet.scss */
  .invoice .paymentMethod {
    width: 60%;
  }
  /* line 136, ../../bootstrap/scss/admin/stylesheet.scss */
  .invoice .paymentValue {
    max-width: 35%;
  }
}
/* line 145, ../../bootstrap/scss/admin/stylesheet.scss */
form nav.affix {
  left: 70px;
  right: 0;
  top: 60px;
  z-index: 99;
  -webkit-transition: all 0.5s;
  -khtml-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 158, ../../bootstrap/scss/admin/stylesheet.scss */
body.menu-pin form nav.affix {
  left: 250px;
}

@media screen and (max-width: 992px) {
  /* line 168, ../../bootstrap/scss/admin/stylesheet.scss */
  form nav.affix {
    left: 0px;
  }

  /* line 177, ../../bootstrap/scss/admin/stylesheet.scss */
  body.menu-pin form nav.affix {
    left: 0px;
  }
}
/* line 189, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload .thumbnail img {
  width: 100%;
}
/* line 193, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload .emptyInfo {
  text-align: center;
}
/* line 196, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload .btn {
  display: block;
  overflow: hidden;
}
/* line 200, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload .btn span {
  display: block;
}
/* line 204, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload .btn input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
/* line 220, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload.fileupload-new .fileupload-exists {
  display: none !important;
}
/* line 227, ../../bootstrap/scss/admin/stylesheet.scss */
.fileupload.fileupload-exists .fileupload-new {
  display: none !important;
}

/* line 233, ../../bootstrap/scss/admin/stylesheet.scss */
form.imageForm {
  position: relative;
}
/* line 236, ../../bootstrap/scss/admin/stylesheet.scss */
form.imageForm .inlineLoadingFrame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 55px;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
}
/* line 244, ../../bootstrap/scss/admin/stylesheet.scss */
form.imageForm .inlineLoadingFrame .outer {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 250, ../../bootstrap/scss/admin/stylesheet.scss */
form.imageForm .inlineLoadingFrame .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
}

/* line 259, ../../bootstrap/scss/admin/stylesheet.scss */
.bootbox.modal .modal-body {
  padding-top: 25px;
}
