/* line 2, ../../foundation/scss/admin/stylesheet.scss */
.full-width-force {
  width: 100% !important;
}

/* line 8, ../../foundation/scss/admin/stylesheet.scss */
#modalForgotPassword .modal-dialog {
  max-width: 496px;
}

/* line 16, ../../foundation/scss/admin/stylesheet.scss */
.table tbody tr td {
  padding: 10px;
}

/* line 25, ../../foundation/scss/admin/stylesheet.scss */
.aTable td .fa {
  font-size: 20px;
}

/* line 31, ../../foundation/scss/admin/stylesheet.scss */
.form-group-default {
  overflow: visible;
}
/* line 35, ../../foundation/scss/admin/stylesheet.scss */
.form-group-default .cs-skin-slide .cs-backdrop {
  border: none;
}

/* line 42, ../../foundation/scss/admin/stylesheet.scss */
.dataTables_processing {
  z-index: 1000;
}

@media screen and (min-width: 980px) {
  /* line 48, ../../foundation/scss/admin/stylesheet.scss */
  .dataTables_wrapper .dataTables_paginate {
    float: right;
  }
}
/* line 54, ../../foundation/scss/admin/stylesheet.scss */
.formError .formErrorContent {
  width: 100%;
  background: #f55753;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 11px;
  border: 1px solid #f55753;
  padding: 4px 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  text-shadow: none;
}

/* line 70, ../../foundation/scss/admin/stylesheet.scss */
.formError .formErrorArrow div {
  height: 1px;
  background: #f55753;
  margin: 0 auto;
  line-height: 0;
  font-size: 0;
  display: block;
}

/* line 80, ../../foundation/scss/admin/stylesheet.scss */
#notification-center .bubble {
  font-size: 8px;
  text-align: center;
  line-height: 15px;
}

/* line 90, ../../foundation/scss/admin/stylesheet.scss */
.notification-panel .notification-body .notification-item .heading {
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media print {
  /* line 100, ../../foundation/scss/admin/stylesheet.scss */
  .hide-for-print {
    display: none;
  }
}
/* line 106, ../../foundation/scss/admin/stylesheet.scss */
.historyDialog {
  width: 98%;
  max-width: 1280px;
}

/* line 113, ../../foundation/scss/admin/stylesheet.scss */
.invoice .paymentMethod {
  display: inline-block;
  width: 50%;
}
/* line 117, ../../foundation/scss/admin/stylesheet.scss */
.invoice .paymentValue {
  max-width: 45%;
  display: inline-block;
}

@media print {
  /* line 124, ../../foundation/scss/admin/stylesheet.scss */
  .invoice .paymentMethod {
    width: 60%;
  }
  /* line 127, ../../foundation/scss/admin/stylesheet.scss */
  .invoice .paymentValue {
    max-width: 35%;
  }
}
