.dateInput-year {
  width: 70px;
  float: left;
  margin-bottom: 0px;
}

.dateInput-month {
  width: 90px;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
}

.dateInput-day {
  width: 50px;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px;
}